.navbar_wrap{
    background-color: rgb(0, 0, 0);
}
.navbar_logo a{
    background: linear-gradient(90deg, #049CE1 0%, #07DA9D 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
    background-size: 200%;
    font-size: 20px;
}
.navbar_logo a:hover,
.heading p:hover{
   background-size: 50% !important;
}
.navbar_inner{
    padding: 15px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navber_page ul a{
    text-decoration: none;
}
.navber_page ul{
    list-style: none;
}
.navbar_page_links{
    display: flex;
    align-items: center;
    margin: unset;
    padding: unset;
}
.navbar_page_links > li + li{
    padding-left: 20px;
}
.navbar_page_links .active{
    background: linear-gradient(90deg, #049CE1 0%, #07DA9D 100%);
}
.navbar_page_links .nav_link{
    padding: 5px 10px 8px;
    border-radius: 5px;
    color: #ffffff;
}
.navbar_page_links .nav_link:hover{
    background: linear-gradient(90deg, #65b8df 0%, #66dbba 100%);
    color: #eeeeee;
}
.record_inner{
    padding-top: 20px;
}
.pagination{
    display: flex;
    justify-content: center;
}
.heading,
.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px);
}
.home_wrap,
.record_wrap{
    background-color: rgb(14, 14, 14);
    color: white;
}
.record_table Table th,td{
    color: white;
}
.table-hover>tbody>tr:hover>* {
    background-color: #333333;
    color: white;
}
.pagination .MuiButtonBase-root,
.pagination .MuiPaginationItem-root{
    color: white;
}
.record_wrap{
    height: calc(100vh - 60px);
    overflow-y:auto ;
}
.heading p{
    font-size: 40px;
    background: linear-gradient(90deg, #049CE1 0%, #07DA9D 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

::-webkit-scrollbar {
    width: 10px;
  }
::-webkit-scrollbar-track {
    background: #202020; 
  }
::-webkit-scrollbar-thumb {
    background: rgb(255, 255, 255);
    border: 1px solid white; 
    border-radius: 5px;
  }
::-webkit-scrollbar-thumb:hover {
    background: rgb(218, 218, 218); 
  }

@media screen and (max-width: 575px) {
    .navbar_inner{
        flex-direction: column;
    }
    .navber_page{
        padding-top: 20px;
    }
    .pagination{
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 400px) {
    .record_wrap,
    .heading, .loading  {
        height: calc(100vh - 104px);
    }
    .heading p {
        font-size: 35px;
    }
    ::-webkit-scrollbar{
        width: 5px;
    }
}

@media screen and (min-width: 1681px) {
    .container{
        max-width: 1440px;
    }
}
